body {
    max-width: 80%;
    min-width: 50%;
    padding: 0;
    margin: auto;

}

header {
    height: 50px;
    background: black;
    padding: 0 0 10px;
    margin: auto;
}

.tracks {
    overflow-y: auto;
    max-width: 70%;
    max-height: 45rem;
    min-height: 40rem;
    border-radius: 4px;
}

.top-bar {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    background-color: darkgray;
    opacity: 80%;
}

.container {
    width: 100%;
    display:flex;
}

.display {
    border: 1px solid #ddd;
    padding: 0 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.display a {
    color: black;
    text-decoration: none;
}

.display a:hover {
    text-decoration-line: underline;
    font-weight: bold;
}

.display * {
    min-width: 12rem;
}

.display :last-child {
    text-align: right;
}

.track {
    width: 100%;
}

.track:nth-child(even) {
    background-color: #f2f2f2
}

.track h3:first-child {
    border-bottom: 1px solid #ddd;
    flex-basis: 100%;
}

.audio-player {
    margin-top: 1rem;
    padding: 0;
    width: 100%;
    height: 8rem;
}

.current-track {
    margin: 0.2rem 1rem;
}